.car {
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 2px;
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.horizontal {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.vertical {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.car:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  z-index: 5;
}

.car.red {
  border: 2px solid darkred;
  box-shadow: 0 2px 8px rgba(255, 0, 0, 0.4);
}